body{
    margin: 0;
    background-color: rgb(215, 222, 232);
}
.header{
    text-align: center;
    text-shadow: 1px 1px 1px black, -1px -1px 1px white;
}
.header__text_highlighted{
    color: rgb(66, 134, 244);
}
.command-line-container{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.input-command-line{
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(250,250,250,0.2);
    color: rgba(0,0,0,0.8);
    padding: 10px;
    margin-top: 50px;
}
.input-command-line:hover{
    border: 1px solid rgba(0,0,0,0.5);
}
.input-command-line:focus{
    border: 1px solid rgba(0,0,0,0.5);
}
.travel-description{
    width: 30%;
    text-align: center;
    margin: 0 auto;
    color: rgb(15,15,15);
    background-color: rgba(66, 134, 244, 0.8);
    border: 1px solid rgb(66, 134, 244);
    box-shadow: 3px 3px 5px black;
    text-shadow: 1px 1px 1px rgba(250,250,250,0.8);
}
.travel-status{
    width: 250px;
    position: absolute;
    top: 6px;
    right: 6px;
    color: rgb(15,15,15);
    background-color: rgba(66, 134, 244, 0.8);
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px black;
    text-shadow: 1px 1px 1px rgba(250,250,250,0.8);
}
.game-text-panel{
    text-align: center;
    border-left: 1px dashed rgba(0,0,0,0.05);
}
.travel-status-values{
    font-weight: bold;
}
.world-map{
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -1;
    border: 1px solid rgba(0,0,0,0.2);
    background: url('img/world-map.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
    transition: 0.7s;
}
.point-on-map{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
}
.span_bold{
    font-weight: bold;
}
